body {
    font-family: sans-serif;
    text-align: center;
    margin-top: 80px;
    background-color: lightblue;
}

button {
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    background-color: red;
    color: white;
}
h1{
    font-size: 3rem;
    color: rgb(20, 10, 10);
}
